# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode9.4


env:
  matrix:
    - CONFIG=osx_c_compilerclangcxx_compilerclangxx
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxx

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "htWN/mTeaHESGaOQdy3seivD4PUkLxMBjgIrXJqCj4uNBb7YeEOheYU+Tr4CutanEA8icvUGd6OAeTHqlmTh5uuKNUe9toIstctcVhQh3+oIDzkBqvzg9LCqbeukF2895c0uUDE91sP7JKq6ruKflxBDg3BtZ4P6NDaxam8DDQyN7/n70TYfmauDlF/TgvVYfsYEfv33V9/toQ1WKjjCL23V1nh5wNMQD4FagLASbzoMF0hr2Cv9/rL8X/s2YuTAuw/SWrwAWr6//2Z43LD71t31y+Unp5xN3lMEZTznLl003aT61NZuxNkuznrRP1anugLKcaGxVNHF1MFRX1bLxenrKGifhNtLylR3XPQEbBa+RZ648yUyEXAJsiuuGoX+6/dp7ZODfZRNQMO3jE9irlGyYmsPnLXsC0MD5PKoJp7LH5K4Dob9wMOM8Rx8DoxkJ9Z7M0En3wJnKxp4RQrn1HUrca9stPGwW9V5c9322SB+L/LroLKgfcVLVXWIl1UivLHw2XxTd8B0tJVGVif2bMyxN84xVc61f8ZrdPVMxShEjYRsOhGAIkrcGA2epmI5ATzhFjKJlS3XSDChjUIkh9MM8diZGps7MrmoQFPKunp03y/P+mo9WsVx4zcqRhcUVIkdoQB+SjAnUQ9XEsYxUQW5KuisoBvmPgxng89+9Ds="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install -n root -c conda-forge --quiet --yes conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml